.user-button{
  background: rgb(202, 232, 249);
  width: 200px;
  height: 75px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-button img{
  margin-right: 10px;
}

.user-button div{
  font-size: 20px;
  font-weight: 600px;
  color: blue;
}